body {
    background-image: url("./Raccoons.jpg");
}

#bienvenido {
    font-size: 60px;
    font-style: italic;
    text-align: center;
}

p {
    text-align: center;
    font-family: -apple-system, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

#principal {
    color: aliceblue;
}

label {
    display: inline-block;
    width: 200px;
}